In [6]:
print('Jay {}, Jay {}'.format("Jagannatha","MaaLaxmi"))

Jay Jagannatha, Jay MaaLaxmi

##Standard Indentation - 4 spaces.
#Data Types
- function to check - type(), isinstance()
- Integer, float, string, Boolean, complex, List, Tuple, Dictionary
- Strings - Can store Unicode characters (mean all kind of character, symbols,special-char etc)
	- Multiline strings can be stored within triple quotes (''') or (""") 
- 1+2j - Complex
- Everything is an object in Python.
- Everything is indexed from 0.
	- Example : s = 'IamSunil'
	- print(s[2]), print(s[-2])
	- Returns - m, Returns - i
	- print(s[len(s)-1]).  returns -l
- Slicing
	- print(s[5: ]), returns - nil
	- print(s[5:6]), it will return from 5th char to 5th char. not return 6th char.
- List
	- Ordered sequence of items. Mutable, flexible, mostly used datatype, all items need not to belongs to one data types.
	- Enclosed with [].
	- Ex - a = [1, 1.2, 'b']
	- print(a[1]), returns - 1.2
	- Mutable - a[1] = 3, it will replace 1.2 with 3 in the list.
- Tuple
	- Same as list. Ordered sequence of items. But tuple is immutable enclosed with (). Once created can not be modified.
	- Example - a = (1, 2, 1.1, 'Sunil'), print([2]), returns - 1.1
	- a[1] = 5, returns error as tuples can not be modified.
- Sets
	- Unordered collection of unique items.
	- Values separated by comma enclosed with {}.
	-  Example a = {3,2,1,1,2}, print(a), returns - {1,2,3} , duplicated will be ignored
	- Can be used for Union, Intersection of 2 sets.
	- We can't print a particular element from a set because it is unordered collection. Ex - a[2], returns error. Doesn't support indexing
- Dictionary
	- Unordered collection of key-value pairs.
	- Within {} and separated by key:values. Key and values can be of any data types.
	- Ex - b = { 'Name':'Sunil', 'Profession':'Salaried'}, print(b['Name']), returns 'Sunil'
	- Its like hash table in C.

How to convert data types one to another

- can be converted by functions like int(), float(),  str()
- Ex - float(5), returns - 5.0, int(100.0), returns - 100, str(20), returns - "20"
- Conversions from and to should be compatible values. Ex - int('10p'), returns invalid literal
- Concatination of different data types.
	- Ex - User = "Sunil" , Lines = 100
	- Print("Congrats," + User + "Your Line : " + str(Lines) + "Thanks"
- Ex - a = [1, 2, 3], s = set(a), print(type(s)), returns set.
-  Converting string to lists using list() methods.
	- Ex - a = "Sunil", list(a), returns - ["S", "u", "n", "i", "l"]
##Output and Input
- a = 10
- print("Sunil"), print("Sunil", a), print("sunil",str(a))
- Multiple statements in single line:
	- a = 10; b=20
	- print( "a is { } and b is { }".format(a,b)) 
	- print("a is {1} and b is {0}".format(a,b)) ,return - a is 20 and  b is 10 because it will take the index of a as 0 and b as 1 as we put in the format.
	- we can use keyword arguments to format the strings
		- print( "Hello {name}, {greetings}.format(name="Sunil",greetings="Good Morning!"))
Input
- a = input("enter a value"), print(a)

In [7]:
a=input("Enter a value")
print(a)

123

##Operators
**Mathemetical Operator**
+,-,*,/,% Modulo division(means gives remainder), // floor division(means nearest integer after devide and it should be less than the exact flot number  like 7.5 = 7 or -7.5 =8), ** exponent
**Compairsion Operators**
<,>,<=,>=,!=,=
**Logical Operators**
and,or,,not
*For And - TT=T, TF=F, FF=F,FT=F*
*For or - TT=T,TF=T, FF-F,FT=T*
Example Below:

In [9]:
a,b = True,False
print(a and b)
print(b and a)
print(a or b)
print(b or a)

False
False
True
True

**Bitwise Operators**
&, |, ~, ^, >>, <<
Example - a,b = 10,4 print(a & b)

**Assignment Operators**
=,+=,==,*=,/=,%=,//=,**=,&=,|=, ^=, >>=, <<=

a += 10, returns 20 because it means a= a+10 simillarly, a -= 10 mean a=a-10, *= mean a=a*10 etc

**identity Operators**
is, is not   (they chaeck if two values or variables are stored in the same part of memory.)
a=5, b = 5, print(a is b)
these operators works in the above format not for  list, tupples, complex format. it will work for strings a = "sunil" , b="sunil", print(a is b), returns- true

**Membership Operator**
in, not in

In [12]:
lst = [1,2,3]
print(2 in lst)

d = {1:'a',2:'b'}
print(1 in d)  #we can check only keys  not values in dictionary data types.

True
True

##Control Loop : if , elif, else

In [17]:
a = 10
if a > 10:
    print("True")
print("False") # This will always false

a = 10
if a == 10:
    print("True")
print("False") 

a = 10
if a- 10:
    print("True")
print("False") # This returns false as every 0, Flase, None is considered False in python

False
True
False
False

**If...Else**

In [18]:
a = 10
if a >10:
    print("a is grater than 10")
else:
    print("a is not grater than 10")

a is not grater than 10

**if..elif..else**

In [21]:
num = 100
if num<10:
    print("Num < 10")
elif num == 10:
   print("num = 10")
else:
   print("num > 10")

num > 10

**Nested If**

In [24]:
a = 30
if a >= 30:
    if a == 0:
        print("a = 0")
    else:
        print("a not equals to 0")
else:
    print("a >= 0")

a not equals to 0

In [31]:
# Find the largest element 
a = 10
b = 50
c = 60


if (a >= b) and (a >= c):
    print("A is the largest")
elif (b >= c) and (b >= a):
    print("b is the largest")
else:
    print(" c is the largest")

#######

if (a >= b) and (a >= c):
    Largest = a
elif (b >= c) and (b >= a):
    Largest = b
else:
    Largest = c
print("The largest number is:{}".format(Largest))



"""if a > b:
    if a > c:
        print("a is largest element")
        if b > a:
            if b > c:
            print ("b is largest element")
                if c > a:
                    if a > b:
                        print("C is the largest One")
                    else:
                        print("C is not largest")
                else:
                    print ("B is not largest")
            else:
                print("C is not largest")
        else:
            print("don't know")
    else:
        print("i don't know")
 else:
    print("knowbody knows")"""

 c is the largest
The largest number is:60

'if a > b:\n    if a > c:\n        print("a is largest element")\n        if b > a:\n            if b > c:\n            print ("b is largest element")\n                if c > a:\n                    if a > b:\n                        print("C is the largest One")\n                    else:\n                        print("C is not largest")\n                else:\n                    print ("B is not largest")\n            else:\n                print("C is not largest")\n        else:\n            print("don\'t know")\n    else:\n        print("i don\'t know")\n else:\n    print("knowbody knows")'

## While Loop 
used in python over a block of code as long as the test expression is true.
Ex -
Find a product of all numbers present in a list.
lst = [10,20,30,40,60,50]    Expression - lst(0)*list(1)*lst(2),,,,,,,*lst(5)

product = 1
index = 0

In [3]:
lst = [10,20,30,40,60,50] 

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1

print("Product = {}".format(product))

Product = 720000000

**While loop with else**
Else part is excuted if the while part is False. The whileloop can be break with break statement else it will run infinity times. If no breks occur and while part is false then else part runs continiously.

In [12]:
a= [1,2,3,4]
index = 0
while index < len(a):
    print(a[index])
    index += 1
else:
    print("end")

1
2
3
4
end

In [7]:
#Itreate 1 to 10 and back from 10 to 1
a = 1
index = 0

while index < 10:
    print(index+a)
    index +=1
else:
    while index >= 1:
        print(index-1)
        index -=1
    else:
        print("end")

1
2
3
4
5
6
7
8
9
10
9
8
7
6
5
4
3
2
1
0
end

In [28]:
#Find a prime number
num = int(input("input a number: "))
i = 2
isDivisible = False;

while i < num:
    if num % i == 0:
        isDivisible = True
        print("{} is divisible by {}".format(num,i))
    i +=1;

if isDivisible:
    print("{} is not a prime number".format(num))
else:
    print("{} is an prime number".format(num))

16 is divisible by 2
16 is divisible by 4
16 is divisible by 8
16 is not a prime number

**For Loop**
Used to iterate over a sequence (list, tupple, strings). Itreting over a squence is called trasversal.

In [1]:
lst = [10,20,30,40,50]
product = 1
for ele in lst:
    product *= ele
print("Product is {}".format(product))

Product is 12000000

**Range Fun**
Generate a sequence of numbers using range function. range(10) will generate from 0 to 9(10 numbers).
We can also define start,stop, step size. If not provided it will take default to 1. It doesnot store all the numbers in the memory, it only keeps start,stop and step size and keep itreting on the go.
it does not produce list

In [3]:
for i in range(10):
    print(i)

for i in range(1,20,2):
    print(i)

0
1
2
3
4
5
6
7
8
9
1
3
5
7
9
11
13
15
17
19

In [7]:
#iterate the list using index
lst = ['Sunil','Sunita','Sanju','Tankadhar','Jashmin']
for index in range(len(lst)):
    print(lst[index])

Sunil
Sunita
Sanju
Tankadhar
Jashmin

In [10]:
#or
for index in lst:
    print(index)

Sunil
Sunita
Sanju
Tankadhar
Jashmin

In [9]:
print(lst[1])

Sunita

In [11]:
num = [1,2,3]
for i in num:
    print(i)
else:
    print("Done")

1
2
3
Done

In [12]:
# write an programe in for loop to find whic is divisible by 2

interval1 = 10
interval2 = 30
for i in range(interval1,interval2+1):
    if i % 2 == 0:
        print("{} is devided by 2".format(i))

10 is devided by 2
12 is devided by 2
14 is devided by 2
16 is devided by 2
18 is devided by 2
20 is devided by 2
22 is devided by 2
24 is devided by 2
26 is devided by 2
28 is devided by 2
30 is devided by 2

In [26]:
# write an programe in for loop to find prime numbers.
index1 = 10
index2 = 20
print('Prime numbers between {} and {} are:'.format(index1,index2))
for num in range(index1,index2+1):
    if num > 1:
        isDivisible = False
        for index in range (2,num):
            if num % index ==0:
                isDivisible = True
        if not isDivisible:
            print(num);

Prime numbers between 10 and 20 are:
11
13
17
19

**Break in For and while Loop**
The interpriter come out from the loop. even it ignores else part of the block

In [35]:
num = [1,2,3,4]
for n in num:
    if n == 4:
        break
    print(n)
else:
    print("in the else block")
print("outside for loop")

1
2
3
outside for loop

In [38]:
#FInd a prime num and use break to make your code efficient.
num = int(input("Please enter a number"))
isDivisible = False
i = 2

while i < num:
    if num % i == 0:
        isDivisible = True
        print("{} is divisible by {}".format(num,i))
    break
if isDivisible:
    print("{} is not a prime number".format(num))
else:
    print("{} is an prime number".format(num))

20 is divisible by 2
20 is not a prime number

**Continue**
it will take to the next iteration in a loop not to the next block. But this will just send it back to for loop then it will go to else but in the case of break, it does not go to else part.

In [1]:
num = [1,2,3,4,5,6,7]

for i in num:
   if i % 2 == 0:
      continue
   print(i)
else:
   print("print else block")

1
3
5
7
print else block

# Lists
Collection of strings, integers, other lists. Enclosed with [].
Each item assigned with assigned index value. And separated by comma.
Mutable.
Example:

In [14]:
a = [1,2,3] #List of integer
b = ['a','v','c','d'] #List of strings
c = [1,1,3.5] #List of different data types
d = [['a','d'], [3,2,4,5]] #List of list

print(d)

print(len(d))

#append

d.append(['Sunil','Sunita'])
print(d)

#insert a element in a location list. Inseart 5 at 3rd place on list c.

c.insert(2,5)
print(c)

#remove from list. if there are duplicate values in a list then it will remove the first occurance of that list not all duplicates.
c.remove(5)
print(c)

[['a', 'd'], [3, 2, 4, 5]]
2
[['a', 'd'], [3, 2, 4, 5], ['Sunil', 'Sunita']]
[1, 1, 5, 3.5]
[1, 1, 3.5]

**List Append and Extend**
If a list got appended with list 2 then the list 2 will be in list. mean it wiuld be list in list.
To join with another list and have all the elements in one list, you need to use extend function.

In [15]:
#appending list b with c
c.append(b)
print(c)

[1, 1, 3.5, ['a', 'v', 'c', 'd']]

In [18]:
#Extend
sk = [1,2,4,5]
sp = ['s','U','N','I','L']
sk.extend(sp)
print(sk)

[1, 2, 4, 5, 's', 'U', 'N', 'I', 'L']

**Delete List**
Can do it in 2 ways - del and pop

In [24]:
w = ['a','c','d','1','5']
del w[1]
print(w) #c will be deleted

nw = w.pop(2) # 1 will be deleted and assigned to nw
print(nw)
print(w)

w.remove('5') # this go and remove '5' from the list
print(w)

['a', 'd', '1', '5']
1
['a', 'd', '5']
['a', 'd']

**List related to keyword**

In [25]:
lst = ['1','2','Su','Ni','l']
if 'Su' in lst:
    print ('su is in lst')

if 'Su' not in lst:
    print ('Su not in lst')

su is in lst

**List Reverse**
lst.reserve()
**List sorting**

In [35]:
num = ['Num','Bom','Tom']
my_sort = sorted(num) #assending order
print('Original list :', num)
print('Sorted list :', my_sort)

my_sort_desc = sorted(num, reverse=True)
print('My decending sort :', my_sort_desc)
# We can write in following
print('My decending sort 2:', sorted(num,reverse=True))

# If I want to sort a list and put it back in the same list.
we = [1,20,3,40,5]
we.sort()
print('My new sorted exisiting list:',we)

#soerting i=will not happen in a list with differnt data types.

Original list : ['Num', 'Bom', 'Tom']
Sorted list : ['Bom', 'Num', 'Tom']
My decending sort : ['Tom', 'Num', 'Bom']
My decending sort 2: ['Tom', 'Num', 'Bom']
My new sorted exisiting list: [1, 3, 5, 20, 40]

**List Referencing**

In [37]:
str = ['a','d','e','r']
abc = str
abc.append('e')
print(abc)

['a', 'd', 'e', 'r', 'e']

**SPliting a string to create a list**

In [41]:
s = 'one,two,three,four,five'
slt = s.split(',')
print(slt)

wr = 'This is a good line'
er = wr.split() # So default split is by white space
print(er)

['one', 'two', 'three', 'four', 'five']
['This', 'is', 'a', 'good', 'line']

**Indexing in list**

In [45]:
cdr = [1,2,4,5,3,7,6]
print(cdr[3])
print(cdr[-1])

5
6

**Slicing**

In [51]:
number = [10,20,30,40,50,60,70]
print(number[:]) # Print start to end
print(number[:3]) #Print first 3 slice
print(number[3:]) # print last 3 slice
print(number[::2]) # 2 is the step size. and before semicolon we can specify starting index and ending index
print(number[2:7:2])

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30]
[40, 50, 60, 70]
[10, 30, 50, 70]
[30, 50, 70]

In [59]:
# addition in list using +
se =  [1,2,4,5,6,7,3,3]
er =[43,45,65,67,65,7,2,3,3,4]
pe = se+er
print(pe)
print(pe.count(3)) # shows how many times the element exists in the list, frequency

[1, 2, 4, 5, 6, 7, 3, 3, 43, 45, 65, 67, 65, 7, 2, 3, 3, 4]
4

**List Looping**

In [62]:
new = ['One','Two','Three','Four','Five']

for i in new:
    print (i)

One
Two
Three
Four
Five

In [66]:
#List comprehension
squ = []
for i in range(10): 
    squ.append(i*2)
print(squ)

#Create a list of tuples with squres
new_list = [(i,i**2) for i in range(10)]
print(new_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

**Nested list comprehension**

In [70]:
matrix = [
    [1,2,3,4],
    [5,6,7,8,9],
    [10,11,12,23]
]

#Transpose a list without list comprehention
transposed = []
for i in range(4) :
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 10], [2, 6, 11], [3, 7, 12], [4, 8, 23]]

#Tuples
Can't change any elements of a tuple. Its immutable
Can have different data types in side tuple.
enclosed with parenthesis and comma. where parenthesis is optional.
you can write a = ('s',) also you can write a = 's',

In [6]:
ta = () #empty tuple
tab = (1,2,3,4,5)
print(tab)
tam = (1,2,'s','k',32) #tuple having different data types
print(tam)
ntab = ((1,2,3),['s','d','t']) # nested tuple
print(ntab)

wq = ('a')
type(wq)
wa = ('a',)
type(wa)
qw = 'a',
type(qw)

(1, 2, 3, 4, 5)
(1, 2, 's', 'k', 32)
((1, 2, 3), ['s', 'd', 't'])

tuple

**Accessing Elements in Tuple**
print(sw[1:3]) # meaning starts from index 1 and upto index(n-1)

In [23]:
t = ('Satish','Murali','Sk','Sp')
print(t[1]) # Same as list
print(t[-1])
sa = ('sk','sd','der',['se','der']) #if we need to access to 'der'
print(sa[3][1])
#Slicing, similar to list
sw = ('se','ser','de','der','ser')
print(sw[1:3]) 
print(sw[:3]) # starts from first element whose index is 0 and extracting 3 elements
print(sw[2:]) # Strarts from last whose index is 1 and extracting 2
print(sw[:-2])

Murali
Sp
der
('ser', 'de')
('se', 'ser', 'de')
('de', 'der')
('se', 'ser')

**Changinf Tuple**
Tuples are immutable

In [25]:
ad = ('sd','de','df','de','de')
ad[2] = 'x' #type error

TypeError: 'tuple' object does not support item assignment

In [27]:
adl = ('ase','dfd','dfr',['sde','der','ded']) # It modified in list not in tuple although it is inside a tuple
adl[3][1] = 'Sunil'
print(adl)

('ase', 'dfd', 'dfr', ['sde', 'Sunil', 'ded'])

In [28]:
#Tuple multiply
sk = (('a',)* 4 )
print(sk)

('a', 'a', 'a', 'a')

**Tuple deletion**
As we can't change individual items from a tuple, we can't delete any item from the tuple.
But we can delete enitre tuple

In [29]:
del sk

**TUPLE COUNT**

In [32]:
t = (1,2,3,4,5,6,6,7,8,8,10,9)
t.count(8) # frequency of the element

2

**Tuple Index**

In [33]:
print(t.index(6)) # returns the first element's position

5

**Tuple Membership** In operator

In [34]:
ti = (1,2,3,4,5,6,7)
print(1 in ti)

True

**Built in functions in Tuple**

In [39]:
print(len(ti))
ti_sort = sorted(ti)  # Creates a list after sorted as tuples are immutable.
print(ti_sort)

print(max(ti_sort))
print(min(ti_sort))
print(sum(ti_sort))

7
[1, 2, 3, 4, 5, 6, 7]
7
1
28

# Sets
Enclosed with curly braces {}.
Unorder combination of items means can't be indexed. Every elemets is unique, no duplicates.
Mutable.
Can be used for mathemetical operations likeunion, intersection,symmentric difference etc.
Set can not be use as a key in dict or anu hashable keys. But you can use frozenset.

In [53]:
#set creation
s = {1,2,3,4,5}
print(s)
print(type(s))

#don't allow duplicates
t = {1,2,3,4,4,5,5,6,7}
print(t)

#can be made a set from a list.
st = set([1,2,3,4,5,6,7,8])
print(st)
#initialize a set with set method.
ts = set()
print(type(ts))
#can't be indexed as it is unordered.
#print(st[1]) #type error

# adding elements
st.add(9)
print(st)
#add multiple elements
st.update([10,11,12,13])
print(st)
#add list and set
st.update([14,15], {16,17,18,19})
print(st)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

**Sets, Dicts, Lists are mutable**
**But tuple is immutable**

In [58]:
#remove elements from sets.
str = {1,2,3,4,5,6,7,8,9,10}
str.discard(4)
str.remove(6) # both discard and remove function is same but if no elemets available in set, you will get an key error with remove but not with discard.
print(str)
str.pop() # remove random element from a set.
print(str)
str.clear() # remove all elements.
print(str)

{1, 2, 3, 5, 7, 8, 9, 10}
{2, 3, 5, 7, 8, 9, 10}
set()

**Set Operations**

In [67]:
#Union of sets.
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {8,9,10,11,12,13,14}
print(set1 | set2) #Union
#another way of union.
print(set1.union(set2))
print( set1 & set2) #Intersection
print(set1.intersection(set2))
#set difference
print(set1-set2)
print(set1.difference(set2))

#Symmetric difference. Mathemetically (Set1 U Set2) - (set1 intersection set2). Elements present only in set1 nand set2
print(set1 ^ set2)
print(set1.symmetric_difference(set2))

#find issubset()? If the whole of set2 is part of set1 then we can called subset.
set3 = {1,2,3,4,5,6}
set4 = {1,2,3}
print("set4 is subset of set3?", set3.issubset(set4))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{8, 9}
{8, 9}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14}
set4 is subset of set3? False

**Frozen sets**
immutable
can be used as a key in dictionary. it is haseble

In [79]:
w = frozenset([1,2,3,4,5,6])
x = frozenset([7,8,9,10])
#w.add(10) Gives error as frozen sets are constant.
#print(w[1]) # also can not be indexed as common sets. But it can used in other functions like intersection union etc.
print(w & x)
print(w.intersection(x))
print( w | x)
print(w.union(x))
print( w ^ x)
print(w.symmetric_difference(x))

frozenset()
frozenset()
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})